@model dynamic

<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0">₺@ViewBag.Currancy</h3>
                        @if (@ViewBag.YuzdelikKar > 0)
                        {
                            <p b-i779n3gypr="" class="text-success ms-2 mb-0 font-weight-medium">%@ViewBag.YuzdelikKar.ToString("F2")</p>
                        }
                        else
                        {
                            <p b-i779n3gypr="" class="text-danger ms-2 mb-0 font-weight-medium">%@ViewBag.YuzdelikKar.ToString("F2")</p>
                        }
                    </div>
                </div>
                <div class="col-3">
                    @if (ViewBag.YuzdelikKar > 0)
                    {
                        <div class="icon icon-box-success ">
                            <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                    }
                    else
                    {
                        <div b-i779n3gypr="" class="col-3">
                            <div b-i779n3gypr="" class="icon icon-box-danger">
                                <span b-i779n3gypr="" class="mdi mdi-arrow-bottom-left icon-item"></span>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <h6 class="text-muted font-weight-normal">Günlük Brüt Kazanç</h6>
        </div>
    </div>
</div>
