@model Entites.Concrate.SiparisDetay
@{
    ViewData["Title"] = "Hazırlanıyor";
}
<center>
    <h1>Siparişi Hazırlamaya Başla!</h1>
    <h1>
        <a asp-action="Index">Back to List</a>
    </h1>
</center>
