@model Entites.Concrate.SiparisDetay
@{
    ViewData["Title"] = "TeslimEdildi";
}
<center>
    <h1>Sipariş Müşteriye Başarıyla Teslim Edildi!</h1>
    <h1>
        <a asp-action="Details" class="btn btn-secondary btn-fw mdi mdi-backburger" asp-route-id="@Model.SiparisMasterId">Geri Dön</a>
    </h1>
</center>
