@model Entites.Concrate.Kategori

@{
    ViewData["Title"] = "Create";
}


<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="KategoriAdi" class="control-label">Kategori Adı</label>
                    <input asp-for="KategoriAdi" class="form-control" />
                    <span asp-validation-for="KategoriAdi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="KategoriAciklama" class="control-label">Kategori Açıklaması</label>
                    <input asp-for="KategoriAciklama" class="form-control" />
                    <span asp-validation-for="KategoriAciklama" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Oluştur" class="btn btn-primary btn-icon-text" id="olustur"/>
                    <a asp-action="Index" class="btn btn-secondary btn-fw mdi mdi-backburger">Listeye geri dön</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
