@model Entites.Concrate.Kategori

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Ürün Detayları</h4>
        <div class="form-group row">
            <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Ürün Adı</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="exampleInputUsername2" placeholder="@Model.KategoriAdi" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Ürün Açıklaması</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="@Model.KategoriAciklama" disabled>
            </div>
        </div>
        <form asp-action="Edit">
            <input type="hidden" asp-for="ID" />
            <a asp-action="Index" class="btn btn-secondary btn-fw mdi mdi-backburger">Listeye geri dön</a>
        </form>
    </div>
</div>
