@model Entites.Concrate.Urun

@{
    ViewData["Title"] = "Edit";
}

<h1>Düzenle</h1>

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UrunAdi" class="control-label">Ürün Adı:</label>
                <input asp-for="UrunAdi" class="form-control" />
                <span asp-validation-for="UrunAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrunAciklama" class="control-label">Ürün Açıklaması</label>
                <input asp-for="UrunAciklama" class="form-control" />
                <span asp-validation-for="UrunAciklama" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label asp-for="FotografLink" class="control-label">Ürün Fotoğrafı (URL / Yükle)</label>
                    <input asp-for="FotografLink" class="form-control" />
                    <span asp-validation-for="FotografLink" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="Fiyat" class="control-label">Ürün Fiyatı:</label>
                <input asp-for="Fiyat" class="form-control" />
                <span asp-validation-for="Fiyat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KategoriID" class="control-label">Ürün Kategorisi</label>
                <select asp-for="KategoriID" class="form-control" asp-items="ViewBag.KategoriID"></select>
                <span asp-validation-for="KategoriID" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="UpdateTime" class="control-label">Güncelleme Tarihi</label>
                <input asp-for="UpdateTime" type="datetime" value="@DateTime.Now" class="form-control" disabled style="color: black"/>
                <span asp-validation-for="UpdateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary btn-fw mdi mdi-backburger">Listeye geri dön</a>

            </div>
        </form>
    </div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
