@model Masa;
@{
    Layout = "~/Views/Shared/_FirmaLayout.cshtml";
}
<body class="align">

    <div class="grid">
<div class="container">
    <form asp-controller="QR" asp-action="Giris" method="post">
        <div class="form-group">
            @Html.HiddenFor(p => p.ID)
            <label for="Sifre">Masa Şifresi</label>
            <input type="text" class="form-control" asp-for="MasaSifresi" placeholder="Masa şifrenizi giriniz">
        </div>

        <button type="submit" class="btn btn-primary">Giriş</button>
    </form>
</div>
    </div>
</body>
