@model Masa;


<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<div class="container">
    <form asp-controller="QR" asp-action="Giris" method="post">

        <div class="form-group">
            @Html.HiddenFor(p => p.ID)
            <label for="Sifre">Masa Şifresi</label>
            <input type="text" class="form-control" asp-for="MasaSifresi" placeholder="Masa şifrenizi giriniz">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>