@model Entites.Concrate.Masa

@{
    ViewData["Title"] = "Delete";
}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Kategoriyi silmek istediğinize emin misiniz?</h4>
        <div class="form-group row">
            <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Masa ID</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="@Model.MasaID" disabled>
            </div>
        </div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Sil" class="btn btn-danger btn-fw" />
            <a asp-action="Index" class="btn btn-secondary btn-fw mdi mdi-backburger">Listeye geri dön</a>
        </form>
    </div>
</div>

