@model Entites.Concrate.Masa

@{
    ViewData["Title"] = "Details";
}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Masa Durumu</h4>
        <div class="form-group row">
            <label for="exampleInputUsername2" class="col-sm-3 col-form-label">MasaID</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="exampleInputUsername2" placeholder="@Model.MasaID" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Masa Şifresi</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="@Model.MasaSifresi" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Masa Oluşturma Tarihi</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="@Model.CreateTime" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Masa Güncellenme Tarihi</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="@Model.UpdateTime" disabled>
            </div>
        </div>
        <a asp-action="Index" class="btn btn-secondary btn-fw mdi mdi-backburger">Listeye geri dön</a>
    </div>
</div>

