@{
    ViewData["Title"] = "IndexHome Page";
    Masa masa = new();
}

<div class="text-center">
</div>

@section Scripts
    {

    <script type="text/javascript">

        const body = document.querySelector('body');
        body.onload = SiparisEkle;

        function SiparisEkle(urunId) {
            let masaId = $.cookie("MasaId");
            document.getElementById("Musteri").innerHTML += masaId;
        };

    </script>
}
