@{
    ViewData["Title"] = "IndexHome Page";
    Masa masa = new();
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}



<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">QRestoran</a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a asp-controller="FirmaLogin" asp-action="Login" class="active">Giriş</a></li>
                            <li class="scroll-to-section"><a asp-controller="FirmaLogin" asp-action="Register" class="active">Kayıt Ol</a></li>
                        </ul>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1>QRestoran Ücretsizdir <strong>Sizin İçin</strong></h1>
                        <p>Restoran deneyiminizi daha modern, hızlı ve güvenli hale getirmek için QR Menü Sistemimizi kullanın. Yemek seçiminizi anında yapın ve lezzet dolu bir deneyime adım atın!</p>
                        <a asp-controller="FirmaLogin" asp-action="Register" class="main-button-slider">Hemen Kayıt Ol!</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                        <img src="~/assets/images/slider-icon.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->
    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="~/assets/images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
                    <div class="left-heading">
                        <h5>QR Menü Sistemi: Yemeklerinizi Hızlı ve Kolayca Keşfedin!</h5>
                    </div>
                    <div class="left-text">
                        <p>
                            Geleneksel menüleri bir kenara bırakın ve yemek seçimlerinizi daha hızlı ve etkileşimli bir şekilde yapın! QR Menü Sistemimiz, restoran deneyiminizi daha modern ve kullanıcı dostu hale getiriyor.

                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->
    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about2">
        <div class="container">
            <div class="row">
                <div class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
                    <div class="left-heading">
                        <h5>Hemen Başlayalım !</h5>
                    </div>
                    <ul>
                        <li>
                            <img src="~/assets/images/about-icon-01.png" alt="">
                            <div class="text">
                                <h6>QR Kodunu Tara !</h6>
                                <p>Masanıza yerleştirilmiş olan QR kodunu telefonunuzun kamerasıyla tarayın.</p>
                            </div>
                        </li>
                        <li>
                            <img src="~/assets/images/about-icon-02.png" alt="">
                            <div class="text">
                                <h6>Menüyü Keşfedin !</h6>
                                <p>Anında restoran menümüze ulaşın ve geniş yelpazede sunulan yemekleri inceleyin.</p>
                            </div>
                        </li>
                        <li>
                            <img src="~/assets/images/about-icon-03.png" alt="">
                            <div class="text">
                                <h6>Siparişinizi Verin !</h6>
                                <p>Beğendiğiniz yemekleri seçin, özel isteklerinizi ekleyin ve siparişinizi kolayca tamamlayın.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="~/assets/images/right-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->
    <!-- ***** Features Small Start ***** -->
    <section class="section" id="services">
        <div class="container">
            <div class="row">
                <div class="owl-carousel owl-theme">
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="~/assets/images/service-icon-01.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Tek Tıkla Menü Oluşturma</h5>
                        <p>Artık restoranınızın menüsünü oluşturmak ve güncellemek sadece bir tık uzağınızda! Yenilikçi "Tek Tıkla Menü Oluşturma" özelliğiyle restoran işinizi kolaylaştırın.</p>
                        
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="~/assets/images/service-icon-02.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Tek Tıkla QR Oluşturma: Hızlı, Basit ve Etkili!</h5>
                        <p>Artık QR kodlarınızı oluşturmak sadece bir tık uzağınızda! Yenilikçi "Tek Tıkla QR Oluşturma" özelliğiyle işinizi kolaylaştırın. </p>
                        
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="~/assets/images/service-icon-03.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Anında Ürün Ekleme ve Düzenleme: Enflasyona Ayak Uydurun!</h5>
                        <p>İşlerinizi kolaylaştırmak ve müşterilerinizle daha hızlı etkileşimde bulunmak için burada. Yepyeni "Anında Ürün Ekleme ve Düzenleme" özelliği ile işiniz artık parmaklarınızın ucunda.</p>
                        
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="~/assets/images/service-icon-02.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Sipariş Görüntüleme ve Kontrol Etme: İşinizi Kontrol Altında Tutun!</h5>
                        <p>İşletmenizin sipariş yönetimini bir üst seviyeye taşımak ve müşteri deneyimini en üst düzeye çıkarmak artık daha kolay! "Siparişleri Görüntüleme ve Kontrol Etme" özelliği ile işlemlerinizi yönetmek hiç bu kadar hızlı olmamıştı.</p>
                        
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="~/assets/images/service-icon-01.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Aylık Brüt Kar İstatistiği: İşletmenizin Performansını Anında Analiz Edin!</h5>
                        <p>İşletmenizin mali performansını anlık olarak takip edebilmenin kolay bir yolu artık burada! Yepyeni "Aylık Brüt Kar İstatistiği" özelliği ile işletmenizin finansal sağlığını görsel ve anlaşılır bir şekilde analiz edin.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <p class="copyright">
                        Copyright &copy; 2023 QRESTORAN
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="~/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/assets/js/popper.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="~/assets/js/owl-carousel.js"></script>
    <script src="~/assets/js/scrollreveal.min.js"></script>
    <script src="~/assets/js/waypoints.min.js"></script>
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <script src="~/assets/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="~/assets/js/custom.js"></script>

</body>