@model ICollection<Urun>

@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Kategori Adı
            </th>
            <th>
                Kategori Aciklama
            </th>
            <th>
                Fiyat
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UrunAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UrunAciklama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fiyat)
                </td>
            </tr>
        }
    </tbody>
</table>
