
@{
    ViewData["Title"] = "Onayla";
}

<center>
    <h1>Siparişiniz Onaylandı En Kısa Sürede Hazırlanacak!</h1>
    <div>
        <h1><a asp-action="Index">Back to List</a></h1>
    </div>
</center>

